
/*********************************************** content-form ***********************************************/
#wrap-form{
  margin-top:15px;
  width: 100%;
  padding-right: 20vh;
  padding-left: 20vh;
  margin-right: auto;
  margin-left: auto;
}

#wrap-form input{
	border:#709bae 1px solid;
	margin:1px 1px 1px 0px;
	padding:0px 1px 1px;
}
.header-form{
	width:100%; height:140px;
	position:relative;
	float:left;
}
.head-title{
	width:45%;
	position:absolute;
	left:70px; top:10px;
	text-align:center;
}
.head-title h1{
	color:#1F668B; font-size:18px;
	text-transform:uppercase;
	border-bottom:#1F668B 1px solid;
	text-align:center;
}
.head-title h2{
	color:#426870 ; font-size:12px;
	text-transform:uppercase;
	padding-top:5px;
}
.header-form h4{
	position:absolute; left:0px; bottom:5px;
}

.boxes-top{
	width:330px;
	position:absolute; right:-2px; top:10px;
	border:#578da2 1px solid;
	padding-bottom:5px;
}
.boxes-top h2{
	height:15px;
	background:#578da2;
	margin-bottom:10px;
}
.boxes-top p{
	width:100%;
	padding:0px 10px 3px 10px;
	float:left;
}
.boxes-top label{
	width:150px;
	float:left;
	text-align:right;
	margin-right:5px;
}
.boxes-top input{
	width:47%;
}

.boxes-form{
	width:100%;
	margin-bottom:10px;
	float:left;
	border:#262f3a 1px solid;
	padding-bottom:10px;
}
.boxes-form h2{
	color:#fff; font-size:14px;
	background:#262f3a;
	margin-bottom:10px; padding:3px 10px;
}
.boxes-form h3{
	color:#426870; font-size:12px;
	padding-left:10px;
}
.boxes-form p{
	padding:3px 10px;
	float:left;
	width:98%;
}
.boxes-form span{
	padding-right:10px;
}
.boxes-form label{
	padding-right:5px;
}

.left-form{
	width:49%;
	float:left;
}
.right-form{
	width:49%;
	float:right;
}


p.bt{
	border-top:#CCC 1px dotted;
	margin:10px 0px;
	text-align:center;
}
.button{
  /* background:url(../images/bg-bt-form.gif) repeat-x left top; */
  background-color: #00edc3;
	height:30px;
	cursor:pointer;
	color:#FFF;
	border:#00edc3 1px solid !important;
	padding:0px 10px !important;
	line-height:30px;
	-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
}


.boxes-form table{
	width:98%;
	margin:0px 10px;
	border-collapse:collapse;
	font-size:12px;
}
.boxes-form table td,th{
	padding:5px 2px 5px 5px;
}
tr.row-top{
	background:#ddecf2;
}
#wrap-form p.bt-end-form{
	text-align:center;
}

.oddtr
{
	background-color:#EFF1F1;
}
.eventr
{
	background-color:#F8F8F8;
}
.trover
{
	background-color: #0099CC;
}
.trclick
{
	background-color: #00CCCC;
}
 img.Delete
 {
 	cursor:pointer
 }

 #myform .error
 {
 border: 1px solid red;
 }
label.error {
    color: red;
    display: block;
    float: none;
    overflow: hidden;
    padding-top: 2px;
    vertical-align: top;
}

 #ADRView
{
    height:580px ;
    overflow:auto;
    /* background: url("../images/wrapCenter.png") repeat-y scroll left top transparent; */
    margin: 5px auto 0;
    overflow: auto;
    width: 1000px;

}

#thuoc-nn-modal {
  opacity: 1;
}

#thuoc-nn-modal span.title {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    display: block;
    margin-top: 20px;
}

#thuoc-nn-modal input[type="text"], #thuoc-nn-modal select {
    background-color: #F4F4F4;
    border-radius: 10px;
    padding: 20px;
    border: none;
    display: block;
    margin: 20px auto 0;
    width: 100%;
    color: #282F39;
}
#thuoc-nn-modal input ::-webkit-input-placeholder {
      color: #282F39;
}
#thuoc-nn-modal input ::-moz-placeholder {
      color: #282F39;
}
#thuoc-nn-modal span.value {
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    display: block;
    margin-top: 10px;
}
#thuoc-nn-modal a.button {
  background-color: #1aeec2;
  color: #000;
  border-radius: 16px;
  padding: 12px 30px;
  display: block;
  width: 240px;
  text-align: center;
  margin: 0 auto 35px;
}
#thuoc-nn-modal .content {
  padding: 20px;
  border-top: 1px solid #ECECEC;
  margin-top: 20px;
}
#thuoc-nn-modal ul {
  list-style-type: square;
  }
#thuoc-nn-modal .modal-dialog {
  max-width: 450px;
  padding: 0;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
}
#thuoc-nn-modal .modal-dialog .modal-content {
  border-radius: 8px;
}
#thuoc-nn-modal .modal-dialog .modal-body {
  padding: 0;
  box-shadow: 0 5px 30px rgba(0,0,0,0.6);
}
#thuoc-nn-modal .modal-dialog .close-button {
  background-image: url(../images/ic-close.png);
  background-repeat: no-repeat;
  float: right;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  position: relative;
  margin-bottom: -32px;
  bottom: 16px;
  left: 16px;
  cursor: pointer;
}

#thuoc-dung-chung {
  opacity: 1;
}

#thuoc-dung-chung span.title {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    display: block;
    margin-top: 20px;
}

#thuoc-dung-chung-modal input[type="text"], #thuoc-dung-chung-modal select {
    background-color: #F4F4F4;
    border-radius: 10px;
    padding: 20px;
    border: none;
    display: block;
    margin: 20px auto 0;
    width: 100%;
    color: #282F39;
}
#thuoc-dung-chung-modal input ::-webkit-input-placeholder {
      color: #282F39;
}
#thuoc-dung-chung-modal input ::-moz-placeholder {
      color: #282F39;
}
#thuoc-dung-chung-modal span.value {
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    display: block;
    margin-top: 10px;
}
#thuoc-dung-chung-modal a.button {
  background-color: #1aeec2;
  color: #000;
  border-radius: 16px;
  padding: 12px 30px;
  display: block;
  width: 240px;
  text-align: center;
  margin: 0 auto 35px;
}
#thuoc-dung-chung-modal .content {
  padding: 20px;
  border-top: 1px solid #ECECEC;
  margin-top: 20px;
}
#thuoc-dung-chung-modal ul {
  list-style-type: square;
  }
#thuoc-dung-chung-modal .modal-dialog {
  max-width: 450px;
  padding: 0;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
}
#thuoc-dung-chung-modal .modal-dialog .modal-content {
  border-radius: 8px;
}
#thuoc-dung-chung-modal .modal-dialog .modal-body {
  padding: 0;
  box-shadow: 0 5px 30px rgba(0,0,0,0.6);
}
#thuoc-dung-chung-modal .modal-dialog .close-button {
  background-image: url(../images/ic-close.png);
  background-repeat: no-repeat;
  float: right;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  position: relative;
  margin-bottom: -32px;
  bottom: 16px;
  left: 16px;
  cursor: pointer;
}
/*
#1F668B   mau xanh
#FF7E00   mau cam
#414141   mau ghi
#426870   mau ghi xanh
*/
